<a href="https://colab.research.google.com/github/arturcgs/Alura_Cursos/blob/main/Alura_Cursos/Formacao_Python_para_Data_Science/Data_Visualization_Seaborn/Data_Vis_Seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratória
Este Notebook realiza uma análise exploratória dos dados de Gorgetas

## Importação e Tradução

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
url = 'https://raw.githubusercontent.com/arturcgs/Alura_Cursos/main/Formacao_Python_para_Data_Science/Data_Visualization_Seaborn/tips.csv'
dados = pd.read_csv(url)
dados.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4